<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Dear {{inviteeName}},</p>
    <p style="margin-bottom:20px;"> {{inviterName}} has invited you to subscribe to an event on MSF REACH.</p>
    <p>Please visit <a href="{{eventLink}}">{{eventLink}}</a> after having logged into <a href="{{loginLink}}">MSF REACH</a> and click to subscribe.</p>
    <p>Kind regards,<br/>
    MSF REACH</p>
    <p><a href="http://msf-seasia.org/node/14721">Privacy policy</a></p>
    <img src="https://msf-reach.org/resources/images/msf-reach-logo-trans-01.png" alt="" style="width:150px;">
  </body>
</html>
