<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hi,</p>
    <p style="margin-bottom:20px;">The event {{eventName}} has been updated on the REACH platform</p>
    <p> <a href="{{eventLink}}">{{Click this link to view the event}}</a> </p>
    <p> <a href="{{unsubscribeLink}}">{{Click this link to unsubscribe from the event}}</a> </p>
    <p>Kind regards,<br />
    <p>MSF Reach</p>
    <p><a href="http://msf-seasia.org/node/14721">Privacy policy</a></p>
    <img src="https://msf-reach.org/resources/images/msf-reach-logo-trans-01.png" alt="" style="width:150px;">
  </body>
</html>
